<div class="contenedorFooter">
  <div class="footer">
    <div class="Footer__titulo">
      <h1>Queremos estar mas cerca de ti</h1>
      <p>Te contaremos sobre nuestros servicios y de la importancia de nuestros proyectos para tu dia a dia.</p>
    </div>

    <div class="Footer__contactar">
      <input type="email" placeholder="Ingresa tu email" class="contactanos__email">
      <button type="button" class="contactanos__btnContactar">Contactar</button>
    </div>
    <h1 class="footer__logo">LOGO</h1>
  </div>
  <div class="footerRedes">
    <img src="../../../../assets/img/whatsapp.png" alt="">
    <img src="../../../../assets/img/whatsapp.png" alt="">
    <img src="../../../../assets/img/whatsapp.png" alt="">
  </div>
    <div class="informacion__contenedor">
      <div class="informacionGeneral">
        <h1>Contactanos</h1>
        <p>¿Tiene alguna pregunta o comentario?</p>
        <a href="">perla@gmail.com</a>
        <a href="">+57 123 456 7891</a>
      </div>
      <div>
        <h1>Terminos y condiciones</h1>
        <!-- <p>Consulta nuestros terminos y condiciones</p> -->
      </div>
    </div>
    <h1 class="footer__copyright">Copyright © 2018 - 2022</h1>
</div>
