<div class="contenedorHeader">
    <div class="circle1"></div>
    <div class="circle1"></div>

    <div class="contenedorHeader__mision">
        <h1>Misión</h1>
        <p>Nuestra misión es mejorar la vida de las personas desarrollando soluciones tecnológicas para todo tipo de público.</p>
    </div>

    <div class="contenedorHeader__img">
        <img src="https://elcomercio.pe/resizer/EtrqNZ4fcxZ2lA9s8UINNykSbQg=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/WI6FZTAI4FCW5NQ5SKS76OAWVY.jpg">
    </div>
</div>

<div class="contenedorFrease">
    <h1>Si se puede imaginar, se puede programar.</h1>
</div>