.contenedorHeader {
  background-color: #00a4ff;
  height: 695px;
  width: 100%;
  overflow: hidden;
}

.contenedorHeader__img {
  /* overflow-anchor: hidden; */
}

.contenedorHeader__img img {
  position: relative;
  width: 80%;
  height: 1000px;
  left: 800px;
  top: -2400px;
  box-shadow: 0px -19px 52px rgba(0, 0, 0, 0.25);
  border-radius: 50% 0 0 50%;
  background-color: #00a4ff;
}

.contenedorFrease {
  height: 150px;
  width: 100%;
  background-color: var(--navbar);
  position: relative;
  z-index: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: 5px 5px 10px #acacac, -1px -1px 4px #acacac;

}

.contenedorFrease h1 {
  font-size: 36px;
  width: 80%;
  color: #464646;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorHeader__mision {
  color: white;
  /* background-color: #1f1f1fa6; */
  width: 35%;
  height: 100%;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 3;
  bottom: 1550px;
  /* top: 0; */
}

.circle1:nth-child(2) {
  background-color: #006eff4b;
  position: relative;
  height: 900px;
  width: 900px;
  bottom: 700px;
  left: -250px;
  border-radius: 50%;
  box-shadow: 0px -19px 52px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.circle1:nth-child(1) {
  /* background-color: #00a4ff; */
  position: relative;
  height: 650px;
  width: 650px;
  bottom: -150px;
  left: -70px;
  border-radius: 50%;
  box-shadow: 0px -19px 52px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
