<div class="contenedorCalidad">
    <div class="contenedorCalidad__titulo">
        <h1>Calidad Garantizada</h1>
        <img src="../../../../assets/img/calidad.png" alt="">
    </div>

    <div class="contenedorCalidad__descripcion">
        <p>Garantizamos la calidad de nuestros productos, actuando de manera honorable y con principios de calidad personal muy altos. Comprendemos la necesidad del cliente por desear siempre lo mejor, por eso nos esforzamos al 100% para continuar con los mejores estándares de calidad.</p>
    </div>
</div>