
.cardAplicacion {
    height: auto;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 35px;
    background: #e0e0e0;
    box-shadow: 21px 21px 42px #acacac, -21px -21px 42px #ffffff;
    font-size: 20px;
  }
  
  .cardAplicacion:nth-child(3) {
    grid-column: 1 / -1;
    height: auto;
    width: 35%;
  }
  
  .aplicacionImg {
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .aplicacionPlayStore {
    height: 40px;
    padding-top: 20px;
  }
  